<h1><%=@title %></h1>
<form action="/stocks" method="post">
  <div class="form-group">
      <label for="stock_name">Name:</label>
      <input id="stock_name" name="stock[name]" type="text" value=" <%= @stock.name %>" class="form-control" />
  </div>
  <div class="form-group">
    <label for="stock_description">Description:</label>
    <textarea id="stock_description" name="stock[description]" rows="3" class="form-control"><%= @stock.description %></textarea>
  </div>
  <input type="submit" value="Add stock" class="btn btn-primary" />
</form>

<% StockQuote::Stock.new(api_key:'pk_ae5dcd10bba4412980867b0936a0350e') %>

<% @stocks = StockQuote::Stock.quote("aapl")  %>


<% if @stock %>
  <%= @stocks.company_name %>
<br/>
  <%= @stocks.latest_update %>
<% end %>